.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-color: #fff;
  --text-color: #000;
  --card-bg: #f9f9f9;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #fff;
  --card-bg: #1e1e1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.recipe-card {
  background-color: var(--card-bg);
  transition: background 0.3s;
}
.image-placeholder {
  width: 100%;
  height: 200px; 
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  border-radius: 10px;
  font-size: 14px;
}

.loading {
  text-align: center;
  font-size: 18px;
  padding: 50px;
  color: #555;
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
}